*.iml
.gradle
/local.properties
/frontegg.properties
/test.properties

# IDE - IntelliJ IDEA / Android Studio
# Ignore entire .idea directory - contains user-specific settings
.idea/

.DS_Store
/build
*/build
**/bin/
/captures
.externalNativeBuild
.cxx
local.properties

toolchains.xml
settings.xml
