*.iml
.gradle
/local.properties
/frontegg.properties
/test.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
embedded/build

toolchains.xml
settings.xml
embedded/release
