<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>

        <activity
            android:name="com.frontegg.android.EmbeddedAuthActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/activate" />
                <data android:pathPrefix="/oauth/account/invitation/accept" />
                <data android:pathPrefix="/oauth/account/reset-password" />
                <data android:pathPrefix="/oauth/account/social/success" />
                <data android:pathPrefix="/oauth/account/login/magic-link" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.frontegg.android.HostedAuthActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${frontegg_domain}"
                    android:pathPrefix="/frontegg"
                    android:scheme="https" />

            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${frontegg_domain}"
                    android:pathPrefix="/oauth"
                    android:scheme="https" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.frontegg.android.AuthenticationActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${frontegg_domain}"
                    android:scheme="${package_name}" />
            </intent-filter>
        </activity>


    </application>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>


</manifest>