<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CREDENTIAL_MANAGER_SET_ORIGIN" />

    <application>

        <!--
          Disable Sentry automatic initialization via ContentProvider.
          Sentry is initialized in code only when the mobile-enable-logging feature flag is on.
        -->
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            tools:node="remove" />

        <provider
            android:name="com.frontegg.android.init.FronteggInitProvider"
            android:authorities="${applicationId}.frontegg-init"
            android:exported="false"
            android:initOrder="1999">
            <meta-data
                android:name="frontegg.autoreconnect.enabled"
                android:value="true" />
            <meta-data
                android:name="frontegg.autoreconnect.debounceMs"
                android:value="500" />
        </provider>


        <activity
            android:name="com.frontegg.android.EmbeddedAuthActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <!-- DONT NOT COMBINE THE FOLLOWING LINES INTO ONE LINE-->

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/activate" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/invitation/accept" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/reset-password" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/login/magic-link" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.frontegg.android.HostedAuthActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/frontegg" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.frontegg.android.AuthenticationActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="${frontegg_domain}" />
                <data android:pathPrefix="/oauth/account/redirect/android/${package_name}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${frontegg_domain}"
                    android:scheme="${package_name}"
                    android:pathPrefix="/android/oauth/callback" />
            </intent-filter>
        </activity>

        <service
            android:name="com.frontegg.android.services.RefreshTokenJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="android.app.job.JobService" />
            </intent-filter>
        </service>

        <!-- Alarm-based fallback for refresh token in Doze / idle -->
        <receiver
            android:name="com.frontegg.android.services.RefreshTokenAlarmReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>


</manifest>