<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".NavigationActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/title_activity_navigation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link intent -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="myapp"
                    android:host="signup"
                    android:pathPattern=".*" />
            </intent-filter>
        </activity>


        <!-- Enable EmbeddedAuthActivity, disable HostedAuthActivity -->
        <activity
            android:name="com.frontegg.android.EmbeddedAuthActivity"
            android:enabled="false"
            tools:replace="android:enabled" />
        <activity
            android:name="com.frontegg.android.HostedAuthActivity"
            android:enabled="true"
            tools:replace="android:enabled" />


        <!-- Enable CustomSchemeActivity -->
        <activity
            android:name="com.frontegg.demo.CustomSchemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="test"  />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>