name: Pull Request Merge Workflow
on:
  pull_request:
    branches:
      - master
    types: [ closed ]
env:
  CI: true
  LANG: en_US.UTF-8
  API_LEVEL: 29

jobs:
  createReleasePullRequest:
    if: "!contains(join(github.event.pull_request.labels.*.name, ','), 'Release') && github.event.pull_request.merged == true"
    name: 'Create Release Pull Request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          gpg_signing_key: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Build Libraries
        shell: bash
        run: ./gradlew :app:build --no-daemon

      - name: Increment Version
        id: incremented-patch-version
        uses: ./.github/actions/update-gradle-version
        with:
          type: patch

      - name: Commit changes
        shell: bash -ex {0}
        run: |
          git add . && git commit -m "chore(release): publish ${{ steps.incremented-patch-version.outputs.version }}"

      - name: Create Release Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3.5.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ secrets.GITHUB_WORKSPACE }}
          commit-message: "Update v${{ steps.incremented-patch-version.outputs.version }}"
          committer: GitHub <noreply@github.com>
          author: "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
          title: 'v${{ steps.incremented-version.outputs.version }}'
          body: |
            # v${{ steps.incremented-patch-version.outputs.version }}

          labels: "Type: Release"
          branch: "release/next"

      - name: Set Alpha Version
        id: incremented-alpha-version
        uses: ./.github/actions/update-gradle-version
        with:
          type: alpha

      - name: prepare release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        run: ./gradlew publish
